* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list {
    padding: 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loader {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    height: 400px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(74, 69, 69);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(74, 69, 69) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.list__item {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list__item:hover {
    box-shadow: rgba(16, 112, 176, 0.55) 0px 5px 15px;
}

.list__item:active {
    box-shadow: rgba(16, 176, 16, 0.55) 0px 5px 15px;
}

.item-heading {
    text-align: center;
    margin-bottom: 6px;
    color: rgb(48, 44, 44);
}

.item-price {
    font-size: larger;
    color: rgb(3, 3, 88);
    margin-bottom: 4px;
}

.item-description {
    margin-bottom: 10px;
    font-style: italic;
    color: rgb(14, 14, 99);
}

.item-category {
    margin-bottom: 10px;
    color: rgb(45, 43, 43);
}

.item-pic {
    display: flex;
    margin: auto 0;
    justify-content: center;
}